<meta charset="<%= page.charset %>">
<meta name="author"			content="<%= page.author %>">
<meta name="description"	content="<%= page.desc %>">
<meta name="keywords"		content="<%= page.keys %>">
<meta name="viewport"		content="width=device-width, initial-scale=1.0">

<title><%= page.title %> | <%= page.siteName %></title>

<link id="struc"	rel="stylesheet"	href="<%= page.struc %>" />
<link id="style"	rel="stylesheet"	href="<%= page.style_loc + page.style %>" />

<link id="icon"		rel="icon"			href="<%= page.faviloc + page.favicon %>" />
