<meta 					charset=<%= charset %>>
<meta name=author		value=<%= author %>>
<meta name=description	value=<%= desc %>>

<title><%= title %></title>

<link id=struc	rel=text/stylesheet	href=<%= struct %>>
<link id=style	rel=text/stylesheet	href=<%= style_loc + style %>>
