<meta 					charset="<%= charset %>">
<meta name=author		value="<%= author %>">
<meta name=description	value="<%= desc %>">

<title><%= title %></title>

<link id=struc	rel=stylesheet	href=<%= struct %>>
<link id=style	rel=stylesheet	href=<%= style_loc + style %>>

<link id=favicon	rel=icon	href=<%= favicon_loc + favicon %>>
